<nav class="navbar">
  <a href="/"><h1>My Payments</h1></a>
  <div class="links">
    <a href="/addpayment">New Payment</a>
    <a class="new-item-link" href="/user/logout">Logout</a>
  </div>
</nav>
